@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.introduction{
  margin:50px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  font-family: PT Serif, Arial, sans-serif;
  font-weight:700;
}
.intro-caption{
  max-width: 300px;
  width: 100%;
  line-height: 22px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight:600;
}

.intro-caption p{
  padding-top: 10px;
  font-weight: 400;
}
.grid-container{
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width:85%;
  padding:60px 0;
  margin: 0 auto;
  row-gap: 90px;
}

#two, #five{
  margin-top:100px;
}

.card{
  position: relative;
  width:60%;
  display:inline-block;
  margin: 0 auto;
}

.card img{
  max-width: 250px;
  width: 100%;
}

.card p{
  position: absolute;
  writing-mode:vertical-lr;
  top:0px;
  right:-15px;
  font-family: ST Serif;
  font-weight:400;
  text-transform: uppercase;
  font-size:12px;
}

.card h3{
  margin-top: 5px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight:600;
}

footer{
  text-align: center;
  padding:20px;
  font-family: Poppins, Arial, Helvetica, 
  sans-serif;
  font-weight:600;
}

footer a{
  color: #000;
  text-decoration: none;
}

footer a:hover{
  color: rgb(174, 41, 41);
  text-decoration: underline;
}

@media only screen and (max-width: 650px){

  .introduction{
    flex-direction: column;    
  }
  .intro-caption{
    margin-top:60px;
  }
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    padding:10px 0;

  }
    #two, #four, #six{
      margin-top:70px;
    }

    #five{
      margin-top:0;
    }
}